body {
    background-color: #3399d4;
    text-align: center;
}

.cat {
    font-family: fantasy;

}

.secret {
    opacity: 0.5
}

ul {
    list-style-type: none;
}

table, th, td {
    border: 1px solid gray;
    align-content: center;
    margin: 0 auto;
}

.cabbage {
    color: chartreuse;
}